body {
	background: #4293FF;
	/*background: rgb(197, 0, 22);*/
}

.hidden{
	display: none;
}

#logoDiv a {
	padding: 0 10px;
}

#headSharingIconsPanel {	
	padding: 0 20px;
}

#pickColor {
	height: 40px;
	width: 40px;
}

#headSharingIconsPanel .fa {
	display: inline-block;
	font-size: 40px;
	color: #FFF;
}

#headNav {
	margin: 10px 0;
}

#headNav ul {
	list-style: none;
	padding: 0;	
}

#headNav ul li a {
	display: block;
	text-decoration: none !important;
	text-align: center;
	font-size: 20px;
	color: #FFF;
}

#headNav ul li a:hover {
	background: rgba(255, 255, 255, .3);
}

#colorDropDown {
	position: absolute;
	left: auto;
	top: auto;
}

<<<<<<< HEAD
.jcarousel-wrapper {
	margin: 20px 40px;
}

.jcarousel-wrapper {
	border: none;
}

.jcarousel-control-prev, 
.jcarousel-control-next {
	background: transparent;
	text-decoration: none !important;	
	color: #FFF !important;
}

.jcarousel-control-prev:hover, 
.jcarousel-control-next:hover {
	background: rgba(255, 255, 255, .3);
}

.jcarousel-control-prev {
	left: -32px;
}

.jcarousel-control-next {
	right: -32px;
}

.jcarousel li {
	border: 2px solid transparent;
}

=======
>>>>>>> origin/gh-pages
/******* Media Queries ***********************/
@media (min-width:768px) {
	#logoDiv {
		display: inline-block;
		float: left;
	}

	#headNav {
	}

	#headNav ul {
		display: table;
		width: 100%;		
	}
	
	#headNav ul li {
		display: table-cell;
		border: 1px solid #FFF;
		border-radius: 21px;
	}
	
	#headNav ul li:hover {
	}
	
	#headNav ul li a {
		font-size: 25px;
		color: #fff;		
		display: block;
	}
	
	#headSharingIconsPanel {
		padding: 15px 20px;	
	    float: right;
	    display: inline-block;
	    font-size: 50px
	}
	
	#headSharingIconsPanel span:hover {
		cursor: pointer;
	}

	#headSharingIconsPanel .showHideMainMenu {
		display: none;
	}
}

@media (max-width:767px) {
	#logoDiv {
		display: block;
	}

	#headNav ul {
		position: absolute;
		width: 100%;
		background: black;
		display: none;
	}

	#headNav ul li a {
		padding: 10px;
		border-bottom: 1px solid #FFF;
	}

	#headSharingIconsPanel .fa {
		padding: 1px 3px;
		border: 1px solid #FFF;
		border-radius: 5px;
		float: right;
	}

	#headSharingIconsPanel .showHideMainMenu,
	#headSharingIconsPanel .fa-tint {
		border: none;
		float: none;
	}

}
